/* Navigation Bar */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#navbar{
    width: 100%;
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pointer{
    cursor: pointer;
}

/* box-1 */

.logo img{
    height: 3.5rem;
    width: 6.2rem;
}
.logo{
    /* margin-left: 10px; */
    height: 50px;
}
.bold{
    font-weight: bold;
}
/* box-2 */

.add-f{
    font-size: 0.9rem;
    margin-left: 18px;
}
.add-s{
    font-size: 1.2rem;
}
.location-icon{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* margin-left: 5px; */
}
.nav-address{
    width: 85px;
    padding-top: 7px;
    margin-left: 8px;
}
.border{
    border: solid 2px transparent;
}
.border:hover{
    border: solid 2px white;
}

/* box-3 */

.nav-search{
    /* margin-left: 10px; */
    display: flex;
    width: 41.25rem;
    background-color: darkgoldenrod;
    border-radius: 4px;
    margin: 0 10px;
}
.nav-search select{
    height: 35px;
    background-color: rgb(203, 203, 203);
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
    border: solid 2px transparent;
}
.nav-search input{
    font-size: 1.2rem;
    height: 2.18rem;
    width: 44rem;
    margin-left: 0px;
    border: solid .25rem transparent;
    border-radius: 0px;
}
.nav-search:hover{
    border: solid 3px darkgoldenrod;
}
.nav-search .search{
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

/* box-4 */
.nav-signin{
padding: 5px;

}
.nav-f{
font-size: 0.8rem;
}
.nav-s{
font-size: 1.1rem;
font-weight:500;
}

/* box-5 */
.orders{
padding: 5px;

}

/* box-6 */
.cart{
padding: 5px;
}
.cart-logo{
font-size: 1.7rem;
}


/* Pannel */

.pannel{
    display: flex;
    justify-content: space-between;
    background-color: #222f3d;
    height: 40px;
    align-items: center;
}

.pannel ul{
    display: flex;
    list-style: none;

}
.pannel ul li{
    color: white;
    margin:0px 20px;
}
.pannel ul li a{
    color: white;
    text-decoration: none;
}
.pannel div{
    margin-right: 13px;
}
.pannel div a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.pannel ul li a:hover{
    color: rgb(211, 211, 211);
    text-decoration: underline;
}




/* Hero section */

.hero-section{
    background-image: url("img/hero_image.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */
    display: flex;
    justify-content: center;
    align-items:flex-end;
    

}
.hero-msg{
    background-color: white;
    width: 90%;
    height: 30px;
    margin-bottom: 30px;
    
}
.hero-msg a{
    text-decoration: none;
    color: rgb(74, 74, 238);
}
.hero-msg a:hover{
    color: darkblue;
    text-decoration: underline;
}


/* shop-section */

.shop-section{
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-gap: 10px; */
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    flex-wrap: wrap;
}
.box{
    border: solid 2px black;
    height: 305px;
    width: 300px;
    margin: 10px 0px;
}
.box h2{
    margin: 0px 7px ;
}
.box a{
    margin: 10px;
    text-decoration: none;
    color: rgb(9, 78, 138);
}
.box a:hover{
   
    color: rgb(1, 42, 77);
    text-decoration: underline;
}

.box-img1{
    background-image: url("img/box1_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 269px;
    margin-left: 12px;
}

.box-img2{
    background-image: url("img/box2_image.jpg");
    background-repeat: no-repeat;
    background-position: center ;
    height: 250px;
    width: 269px;
    margin-left: 12px;
}

.box-img3{
    background-image: url("img/box3_image.jpg");
    background-repeat: no-repeat;
    background-position: center ;
    height: 250px;
    width: 269px;
    margin-left: 12px;
}

.box-img4{
    background-image: url("img/box4_image.jpg");
    background-repeat: no-repeat;
    /* background-position: center ; */
    height: 250px;
    width: 269px;
    margin-left: 12px;
}

.box-img5{
    background-image: url("img/box5_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 269px;
    margin-left: 12px;
}

.box-img6{
    background-image: url("img/box6_image.jpg");
    background-repeat: no-repeat;
    background-position: center ;
    height: 250px;
    width: 269px;
    margin-left: 12px;
}


.box-img7{
    background-image: url("img/box7_image.jpg");
    background-repeat: no-repeat;
    background-position: center ;
    height: 250px;
    width: 269px;
    margin-left: 12px;
}

.box-img8{
    background-image: url("img/box8_image.jpg");
    background-repeat: no-repeat;
    /* background-position: center ; */
    height: 250px;
    width: 269px;
    margin-left: 12px;
}

/* footer */

.footer-signin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:15px ;
}
.footer-signin button{
    background-color: rgb(240, 184, 0);
    padding: 10px 100px;
    border-radius: 6px;
    border: solid 2px rgba(0, 0, 0, 0.753);
}
.footer-signin button:hover{
    cursor: pointer;
    background-color: rgb(217, 166, 0);
    border: solid 2px rgb(0, 0, 0);
}
footer .pannel{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-ad{
    background-color: #1b2530;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.footer-ad p{
    margin: 35px 0px;
}
.footer-ad div{
    margin: 8px 0px;

}
.footer-signin a{
    text-decoration: none;
    color: rgb(9, 78, 138);
}
.footer-signin a:hover{

    color: rgb(1, 42, 77);
    text-decoration: underline;
}
.white{
    color: white;
}
.link{
    text-decoration: none;
    color: white;

}

.link:hover{
    text-decoration: underline;
    color: rgb(210, 208, 208);
}

.end{
    background-color: #1b2530;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.end-logo img{
    height: 50px;
    width: 100px;
    
}
.copyright{
    background-color: black;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copyright a{
    margin: 4px;
    
}



/* phone */

@media only screen and (min-width:700px) and (max-width:1058px){
    .nav-search{
        
        width: 300px;
        
    }
    .nav-search input{
        width: 223px;
    }
    .nav-search input::placeholder{
        font-size: 15px;
    }
}
@media only screen and (max-width:700px){
    .nav-search{
        
        width: 200px;
        
    }
    .nav-search input{
        width: 123px;
    }
    .nav-search input::placeholder{
        font-size: 12px;
    }
}
